<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocialSignInApis.ApiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SocialSignInApis.ApiSettings>
            <setting name="FacebookAppId" serializeAs="String">
                <value />
            </setting>
            <setting name="FacebookAppSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterConsumerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterConsumerSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="RedirectPage" serializeAs="String">
                <value />
            </setting>
        </SocialSignInApis.ApiSettings>
    </applicationSettings>
</configuration>